/* 0-styles.css - starter for flexbox project */

/* Variables */
:root {
  --color-white: #fff;
  --color-primary: #3498db;
  --color-light-grey: #ddd;
  --font-size-small: 0.8rem;
  --nav-item-margin: 0 0 0 1rem;
}

/* Grid section */
.row {
  display: flex;
}

[class*='col-'] {
  width: 100%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}
