/* 6-styles.css - flexify navbar */

/* Variables */
:root {
  --color-white: #fff;
  --color-primary: #3498db;
  --color-light-grey: #ddd;
  --font-size-small: 0.8rem;
  --nav-item-margin: 0 0 0 2rem; /* updated */
}

/* Header section */
.header-container {
  display: flex;
  justify-content: space-between;
}

/* Navbar section */
.nav {
  display: flex;
}

.nav .nav-item {
  list-style: none;
}

.nav .nav-item + .nav-item {
  margin: var(--nav-item-margin);
}

/* Grid section */
.row {
  display: flex;
  margin: -1rem; /* updated */
}

.col-1-3 {
  width: calc((100% / 3) - 2rem);
}

.col-1-2 {
  width: calc((100% / 2) - 2rem);
}

[class*='col-'] {
  margin: 1rem;
  /* padding removed */
}

/* Section SERVICES ============================= */
.section-services .row {
  flex-wrap: wrap;
}

/* Section Latest news ============================= */
.section-latest-news .row {
  flex-direction: row-reverse;
}
