/* Task 21: using a col class selector to simplify positioning */
.col {
  flex: 0 0 calc(100% / 3);
  padding: var(--grid-col-padding);
}

.col-1-3 {
  flex: 0 0 calc(33.333% - calc(var(--grid-col-padding) * 2));
}

.col-1-2 {
  flex: 0 0 calc(50% - calc(var(--grid-col-padding) * 2));
}

.col-2-3 {
  flex: 0 0 calc(66.666% - calc(var(--grid-col-padding) * 2));
}

.col-1-4 {
  flex: 0 0 calc(25% - calc(var(--grid-col-padding) * 2));
}

.col-3-4 {
  flex: 0 0 calc(75% - calc(var(--grid-col-padding) * 2));
}
