/* Task 21: Simplify the col- selector */
.row::after {
  content: '';
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: 0.5rem;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}
