/* Task 7: integrate Google Fonts into variables */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

:root {
  --font-family-base: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}
