/* Task 11: For each - classes from list with background image-url */
@import "11-photos";

@each $name in $list-names {
  .photo-#{$name} {
    background: image-url("photos/#{$name}.jpg") no-repeat;
  }
}

