/* Task 2: Two variables - text #3D3D3D for body/p, background #6D6D6D for body/h2 */
$text-color: #3D3D3D;
$bg-color: #6D6D6D;

body {
  color: $text-color;
  background-color: $bg-color;
}

p {
  color: $text-color;
}

h2 {
  background-color: $bg-color;
}

