/* Task 8: Margin mixin - body 10px left/right, div 15px left/right */
@mixin horizontal-margin($value) {
  margin-left: $value;
  margin-right: $value;
}

body {
  @include horizontal-margin(10px);
}

div {
  @include horizontal-margin(15px);
}

